In [60]:
from pymongo import MongoClient
import pandas as pd
import json
import os

In [61]:
client = MongoClient()
db = client.project3
wineryCoords = db.coordinates2.find()
list_cur1 = list(wineryCoords)
coords = pd.DataFrame(data = list_cur1)
wineInfo = db.wines.find("country" == "US")
list_cur2 = list(wineInfo)
info = pd.DataFrame(data = list_cur2) 
info["address"] = info["winery"] + "," + " " + info["region_1"]
merged = info.merge(coords, on = "address")
merged['points'] = merged['points'].astype(int)
merged.drop(labels = ["taster_name", "taster_twitter_handle", "region_2"], axis = 1, inplace = True)
x = merged.groupby("address").mean().round(2)

In [63]:
x

                                        points   price  longitude  latitute
address
2Plank, Amador County                    88.00   42.00    -120.77     38.35
Acrobat, Oregon                          88.00   15.64    -120.55     43.80
Adelsheim, Dundee Hills                  92.75  102.50    -123.05     45.34
Albatross Ridge, Carmel Valley           92.71   52.86    -121.73     36.48
Alleromb, Columbia Valley (WA)           90.62   62.77    -118.37     46.06
...                                        ...     ...        ...       ...
Wölffer, Long Island                     88.65   27.84     -72.28     40.95
Y Rousseau, Mount Veeder                 89.27   57.18    -122.45     38.38
Yardstick, Napa Valley                   87.67   26.67    -122.27     38.50
Z'IVO, Eola-Amity Hills                  87.50   35.00    -123.12     45.13
Zerba Cellars, Walla Walla Valley (WA)   86.20   29.60    -118.39     46.00

[333 rows x 4 columns]

In [65]:
y = x.to_dict()
new = db.merged.insert_one(y)

In [ ]:
y = x.to_dict()
new = db.merged2.insert_one(y.to_json)